<article class="page grid_12 alpha omega">
  <header>
    <h1>About Me</h1>
  </header>

  <section class="content grid_7 alpha omega">
    <p>Nothing to see here. Move along.</p>
  </section>
</article>