<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/grid.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>

	<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />

	<script src="/javascripts/libs/modernizr-2.0.6.min.js"></script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-364137-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

<div id="container" class="container_12">
	<header class="grid_12 clearfix alpha omega">
	  <h1 class='grid_5 alpha logo'>
	  	<a href='/'><img src='/images/logo.png' width='366' height='149' alt='Luma: Bright Ideas' /></a>
	  </h1>
		<p class='grid_7 omega'>
			Hi! I'm Rolly, a web developer based in <del>New Zealand</del> Australia. You can read a little <a href='/about.html'>About Me</a> or view my <a href='http://www.linkedin.com/in/rollyfordham'>LinkedIn Profile</a>. If you'd like to <a href='mailto:info@luma.co.nz'>Get in Touch</a>, you can do that to. I also occasionally mutter about things on <a href='http://twitter.com/rollyfordham'>Twitter</a>, and you can find bits of code I've written on <a href='http://github.com/luma/'>Github</a>.
		</p>
		<ol class='grid_7 omega icons'>
			<li><a href='http://www.linkedin.com/in/rollyfordham' class='ir icon linkedin'>LinkedIn</a></li>
			<li><a href='http://twitter.com/rollyfordham' class='ir icon twitter'>Twitter</a></li>
			<li><a href='http://github.com/luma/' class='ir icon github'>Github</a></li>
			<li><a href='mailto:info@luma.co.nz' class='ir icon email'>Email</a></li>
		</ol>
	</header>
	<div id="main" role="main" class='clearfix'>
		<%= yield %>
	</div>
	<footer>
		&copy Luma Ltd 2009-present. All rights reserved.
	</footer>
</div> <!--! end of #container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>
</body>
</html>